@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "./variables.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-main);
  background: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.6;
}


a {
  text-decoration: none;
  color: inherit;
}


img {
  max-width:100%;
  display:block;
}


.container {
  width:90%;
  max-width:var(--container-width);
  margin:auto;
}


section {
  padding:100px 0;
}


.section-title {
  text-align:center;
  margin-bottom:50px;
}


.section-title h2 {
  font-size:2.5rem;
  font-weight:700;
}


.section-title p {
  color:var(--text-secondary);
  margin-top:10px;
}


button {
  cursor:pointer;
  border:none;
  font-family:inherit;
}